.App {
  text-align: center;
}

.App-header {
  background-color: #607d8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 5em;
  font-weight: 100;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.Vegetable-Band {
  position: relative;
  width: 100%;
}

.Play-Controls {
  position: fixed;
  left: 0;
  z-index: 3;
  top: 50%;
  display: flex;
  transform: translateX(-64px);
}

.Content {
  border: 1px solid #cbc;
  overflow: hidden; 
  margin: 0 -4px;
  height: 200px;
  border-radius: 4px;
  padding: 8px;
}

.Play-Controls.expanded {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceInLeft;
}

.Button-Invisible {
  border: none;
  background: none;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.Button-Invisible:focus {
  outline: none;
}

@keyframes bounceInLeft {
  0% {
    transform: translateX(-64px);
  }

  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}